@media screen and (max-width:1388px) {
    .projectLeft, .projectRight{
        align-items: center;
        text-align: center;
    }

    .projectLeft .ProjectThumbnail, .projectRight .ProjectThumbnail{
        position: relative;
        
    }
}

@media screen and (max-width:770px){
    .MyCertificates{
        grid-template-columns: 1fr;
    }

    .CertificateContainer{
        width: 100%;
    }

    .certificate img{
        width: 70%;
    }
    section{
        padding-left: 35px;
        padding-right: 35px;
    }

    .certificateInfo{
        text-align: center;
        align-items: center;
    }

    .navbar_links{
        display: none;
    }

    .navContainer{
        justify-content: end;
    }

    .navContainer .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media screen and (max-width:669px) {
    .AMmaincontent{
        flex-direction: column;
    }

    #AboutMe{
        height: auto;
    }

    section{
        width: 95%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .infosAboutMe summary, .imgContainer{
        padding-left: clamp(0.625rem, 0.4337rem + 0.8503vw, 1.25rem);
        padding-right: clamp(0.625rem, 0.4337rem + 0.8503vw, 1.25rem);
    }

    .infosAboutMe summary p{
        text-align: justify;
    }

    .infosAboutMe{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .imgContainer{
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .certificate img{
        min-width: 270px;
    }

    .dropdown_menu{
        left:15px;
        width: unset;
    }

    .EmailContainer,.SocialsContainer{
        display: none;
    }

    .ProjectContainer{
        width: 100%;
    }
}
