@media screen and (max-width:1388px) {
    .projectLeft, .projectRight{
        align-items: center;
        text-align: center;
    }

    .projectLeft .ProjectThumbnail, .projectRight .ProjectThumbnail{
        position: relative;    
    }
}

@media screen and (max-width:770px){
    .MyCertificates{
        grid-template-columns: 1fr;
    }

    .CertificateContainer{
        width: 100%;
    }

    .certificate img{
        width: 70%;
    }

    section{
        padding-left: 35px;
        padding-right: 35px;
    }

    .certificateInfo{
        text-align: center;
        align-items: center;
    }
    .navbar_links{
        display: none;
    }
    
    .interestsContainer{
        justify-content: center;
    }

    .navContainer .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media screen and (max-width:669px){
    html{
        overflow-x: hidden;
    }

    section::-webkit-scrollbar,
    section::-webkit-scrollbar-track,
    section::-webkit-scrollbar-thumb {
        opacity: 0;
    }

    .ContactMebtn{
        border-width: 2px;
    }

    .AMmaincontent{
        flex-direction: column;
    }

    #AboutMe{
        height: auto;
    }

    section{
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .infosAboutMe summary, .imgContainer{
        padding-left: clamp(0.625rem, 0.4337rem + 0.8503vw, 1.25rem);
        padding-right: clamp(0.625rem, 0.4337rem + 0.8503vw, 1.25rem);
    }

    .infosAboutMe summary p{
        text-align: justify;
    }

    .infosAboutMe{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .imgContainer{
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .certificate img{
        min-width: 270px;
    }

    .dropdown_menu{
        left:15px;
        width: unset;
    }

    .EmailContainer,.SocialsContainer{
        display: none;
    }

    .ProjectContainer{
        width: 100%;
    }

    .interestsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        padding-top: clamp(0.5rem, 0.2704rem + 1.0204vw, 1.25rem);;
        padding-left:clamp(0rem, -0.3827rem + 1.7007vw, 1.25rem);
        padding-right:clamp(0rem, -0.3827rem + 1.7007vw, 1.25rem);
    }

    .MySkills{
        width: 95%;
        padding: 5px;
    }

    .SkillsContainer{
        display: grid;
        place-items: center;
        padding: 0px;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }
}
