@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Alexandria', sans-serif,Roboto,Arial;
    text-decoration: none;
}

*::selection {
    background-color: #18253a;
    color: #CCD6F6;
}


html{
    scroll-behavior: smooth;
    width: 100%;
}

body{
    background-color: #110E1F;
    position: relative;
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #8892b0cf;
    border-radius: 6px;
}

/*---------------- Header ---------------- */

header{
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: end; 
    line-height: 1.3;
    box-sizing: inherit;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 11;
    backdrop-filter: blur(10px);
    background-color: rgba(17, 14, 31, 0.85);
}

.header-hide {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.shadow {
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.403);
    transition: all 0.4s ease-in-out;
}

.myLogo{
    position: absolute;
    top: 10px;
    left: 30px;
}

.myLogo img{
    width: 35px;
    height: 40px;
}

.navContainer{
    margin-right:15px ;
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links{
    text-decoration: none;
    display: flex;
    column-gap: clamp(0.625rem, 0.2423rem + 1.7007vw, 1.875rem);;
}

.navbar_links .Options a:hover{
    font-weight: bold;
    background-color: #41ccff;
    box-shadow: 0 3px 10px #41ccff;
    border: 2px solid #41CCFF;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: #110E1F;
    cursor: pointer;
}

.Options a:hover span{
    color: #110E1F;
}

.navbar_links .Options a{
    font-family: 'Source Code Pro', monospace;
    color:#41CCFF;
    border: 2px solid #41CCFF;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    font-size: clamp(0.5625rem, 0.486rem + 0.3401vw, 0.8125rem);
}

.toggle_btn{
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.toggle_btn svg path{
    fill: #CCD6F6;
}

.dropdown_menu{
    display: none;
    list-style: none;
    position: absolute;
    top: 75px;
    height: 0px;
    right: 15px;
    width: 300px;
    background-color: #131d2ec6;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 280px;
    padding: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px #0b091488;
}

.dropdown_menu .Options{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .Options a{
    width: 150px;
    background-color: #110E1F;
    font-family: 'Source Code Pro', monospace;
    color:#41CCFF;
    border: 1px solid #41CCFF;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.dropdown_menu .Options a:hover{
    background-color: #41ccff;
    box-shadow: 0 3px 10px #41ccff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: #110E1F;
    cursor: pointer;
}

/*---------------- Main ---------------- */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    width: clamp(18.75rem, 3.9031rem + 65.9864vw, 67.25rem);
    display: flex;
    flex-direction: column;
    padding:70px;
}

.sectionContent{
    height: 100%;
    width:auto;
}

/*---------------- socials ---------------- */

.SocialsContainer{
    position: fixed;
    width: clamp(1.5625rem, 0.1276rem + 6.3776vw, 6.25rem);;
    height: 500px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.Socials{
    width: clamp(1.25rem, 1.0587rem + 0.8503vw, 1.875rem);
    height: clamp(1.25rem, 1.0587rem + 0.8503vw, 1.875rem);
    margin-bottom: 10px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.Socials svg path, .ProjectLinks svg path{
    fill: #8892B0;
}

.Socials svg:hover path, .ProjectLinks svg:hover path{
    fill: #41CCFF;
    cursor:pointer;
    transform: translateY(-3px);
    transition: all 0.1s ease-in-out;
}

.verticalLine{
    height: clamp(6.25rem, 5.2934rem + 4.2517vw, 9.375rem);;
    width: 2px;
    position: relative;
    bottom: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #8892B0;
}

.socialToolTip{
    opacity: 0;
    position: absolute;
    background-color: #18253a66;
    color: #CCD6F6;
    min-width: 150px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    left:40px;
    padding: 5px 10px 5px 10px;
    font-size: clamp(0.625rem, 0.5293rem + 0.4252vw, 0.9375rem);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    pointer-events: none;
}

.Socials:hover .socialToolTip{
    display: block;
    opacity: 1;
    opacity: 1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px #41ccffb0;
}


.EmailContainer{
    height: 500px;
    width: clamp(1.5625rem, 0.1276rem + 6.3776vw, 6.25rem);
    position: fixed;;
    bottom: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.Email{
    box-sizing: border-box;
    transform: rotate(90deg);
    margin-bottom: clamp(6.875rem, 6.301rem + 2.551vw, 8.75rem);;
}

.Email a{
    display: block;
    text-orientation:upright;
    color: #8892B0;
    font-size: clamp(0.625rem, 0.5293rem + 0.4252vw, 0.9375rem);
}

.Email a:hover{
    color: #41CCFF;
    transform: translateX(-3px);
    transition: all 0.3s ease-in-out;
}

/*---------------- Home ---------------- */
#Home{
    height: 70vh;
}

.HomeContent{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    justify-content: center;
}

.introSalutation{
    font-family: 'Source Code Pro', monospace;
    font-size: clamp(0.625rem, 0.5102rem + 0.5102vw, 1rem);
    color: #41CCFF;
}

.MyName{
    color: #CCD6F6;
    font-size: clamp(2.5rem, 1.926rem + 2.551vw, 4.375rem);
    font-weight: 700;
}

.subHeading{
    color: #8892B0;
    font-size: clamp(2.5rem, 1.926rem + 2.551vw, 4.375rem);
    font-weight: 700;
    margin-bottom: 10px;
}

.subHeading span{
    font-size: clamp(2.75rem, 2.2526rem + 2.2109vw, 4.375rem);
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.subHeading span:hover{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #41CCFF;
    text-shadow: 0 2px 5px #41ccff82;
    transition: all 0.2s ease-in-out;
}

.subHeading span::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #41CCFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.subHeading span:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.shortIntro{
    width: clamp(18.75rem, 13.0102rem + 25.5102vw, 37.5rem);
    text-align: justify;
    color: #8892B0;
    font-weight: 300;
    font-size: clamp(0.75rem, 0.6735rem + 0.3401vw, 1rem);
    margin-bottom: 20px;
}

.ContactMebtn{
    width: clamp(6.25rem, 3.3801rem + 12.7551vw, 15.625rem);;
    height: clamp(1.875rem, 1.4923rem + 1.7007vw, 3.125rem);;
    border: 3px solid #41CCFF;
    border-radius: 5px;
    display: flex;
    column-gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
}

.ContactMebtn svg{
    width:clamp(0.9375rem, 0.6505rem + 1.2755vw, 1.875rem);
    height:clamp(0.9375rem, 0.6505rem + 1.2755vw, 1.875rem);
}

.ContactMebtn:hover{
    background-color: #41ccff18;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    transition: all 0.2s;
}

.ContactMebtn p{
    font-family: 'Source Code Pro', monospace;
    font-size: clamp(0.75rem, 0.6735rem + 0.3401vw, 1rem);
    color: #41CCFF;
}

/*---------------- sectionheaders ---------------- */

.sectionheader{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sectionheader h1{
    font-size: 30px;
    color: #CCD6F6;
}

.lineCon{
    width: 90%;
    height: 100%;
}

.horizontalLine{
    border-radius: 2px;
    height: 3px;
    width: 100%;
    background-color: #41CCFF;
}

/*---------------- About Me ---------------- */

.AMmaincontent{
    display: flex;
}

.infosAboutMe{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.infosAboutMe summary{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 15px 20px;
    margin-bottom:20px;
    row-gap: 15px;
}

.infosAboutMe summary p{
    color: #CCD6F6;
    line-height: 24px;
    font-size: clamp(0.75rem, 0.6735rem + 0.3401vw, 1rem);
}

.AdditionaInfos{
    width: 100%;
    height: 30px;
    margin-left: 20px;
    font-size: clamp(0.75rem, 0.6735rem + 0.3401vw, 1rem);
}

.myBullets{
    color: #41CCFF;
}

.infoTitle{
    font-weight: bold;
    color: #CCD6F6;
}

.infoDetails{
    color:#CCD6F6;
}

.imgContainer{
    width: 45%;
    padding-top: 20px;
}

.mainImg{
    width: 100%;
    max-width: 379px;
    max-height: 379px;
    object-fit: cover;
    z-index: 2;
    border-radius: 10px;
    top: 20px;
    left: 20px;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 15px 15px 0 -2.5px #110E1F, 15px 15px 0 2px #41CCFF;
}

.mainImg:hover{
    box-shadow: 23px 23px 0 -2.5px #110E1F, 23px 23px 0 2px #41CCFF;
    transition: all 0.3s ease-out;
}

.imgBox{
    width: 380px;
    height: 380px;
    z-index: 2;
}

/*---------------- Resume ---------------- */

.ResumeHeader{
    font-size: 40px;
    color:#41CCFF;
    font-weight: 900;
}

.Educationalterm{
    margin-right: 20px;
}

.educAttainmentContainer{
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.timeLine{
    width: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.timeLine .verticalLine{
    width: 2px;
    height: 100%;
}

.EducationRecord{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 8px;
    width: 97%;
}

.schoolTerm{
    display: flex;
    flex-direction: column;
    position: relative;
}

.school{
    font-size: clamp(1.375rem, 1.2602rem + 0.5102vw, 1.75rem);
    font-weight: 700;
    color: #CCD6F6;
}

.schoolCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #41CCFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.421);
    position: absolute;
    top: 7px;
    left: -25.5px;
}

.Program{
    color: #CCD6F6;
    margin-bottom: 5px;
    font-size: clamp(1rem, 0.9617rem + 0.1701vw, 1.125rem);
}

.schoolYear{
    font-size: clamp(0.875rem, 0.8367rem + 0.1701vw, 1rem);
    background-color:#18253a;
    color: #CCD6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 140px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.421);
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.schoolTerm ul{
    color: #8892B0;
    margin-left: 15px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: clamp(0.875rem, 0.8367rem + 0.1701vw, 1rem);
}

.MyCertificates{
    display: grid;
    place-items:center;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.CertificateContainer{
    margin-top: 15px;
    width: clamp(17.5rem, 13.7117rem + 16.8367vw, 29.875rem);
    height: clamp(23.75rem, 21.8367rem + 8.5034vw, 30rem);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.certificate{
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate img{
    width: clamp(17.5rem, 13.7117rem + 16.8367vw, 29.875rem);
    box-shadow: 0 2px 10px rgba(32, 32, 32, 0.612);
}

.certificateInfo{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.certificateInfo h2{
    color: #CCD6F6;
}

.certificateInfo p{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    color: #8892B0;
}

.CertificateContainer a{
    width: 100%;
}

.CertificateContainer a:hover img{
    box-shadow: 0 7px 20px #41ccffc2;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}


section{
    min-height: 70vh;
}

/*---------------- Projects ---------------- */

.ProjectContainer{
    width: 92.5%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 20px;
    margin-bottom: clamp(0.625rem, -0.523rem + 5.102vw, 4.375rem);
    justify-content: center;
    min-height: 300px;
    position: relative;
    padding-top: clamp(0.3125rem, -0.1658rem + 2.1259vw, 1.875rem);
    padding-bottom: clamp(0.3125rem, -0.1658rem + 2.1259vw, 1.875rem);
}

.projectLeft{
    align-items: start;
    text-align: left;
}

.projectLeft .ProjectThumbnail{

    position: absolute;
    justify-self: center;
    right: 0;
}

.projectRight{
    align-items: end;
    text-align: right;
}

.projectRight .ProjectThumbnail{

    position: absolute;
    justify-self: center;
    left: 0;
}

.ProjectThumbnail img{
    object-fit: contain;
    height: 100%;
    max-height: 270px;
    width: 100%;
    max-width: 575px;
}

.ProjectIntro{
    font-size: clamp(0.875rem, 0.8367rem + 0.1701vw, 1rem);
    font-family: 'Source Code Pro', monospace;
    color: #41CCFF;
    z-index: 3;
}

.ProjectTitle{
    color: #CCD6F6;
    font-weight: 900;
    font-size: clamp(1.5rem, 1.3852rem + 0.5102vw, 1.875rem);
    max-width: 400px;
    z-index: 3;
}

.ProjectDesc{
    font-size: clamp(0.875rem, 0.8367rem + 0.1701vw, 1rem);
    border-radius: 3px;
    z-index: 3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #18253ab0;
    color: #CCD6F6;
    max-width: 500px;
    padding: 15px;
    backdrop-filter: blur(10px);
}

.ProjectLinks{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

/*---------------- Contacts ---------------- */

.ContactContainer{
    margin-top: 50px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GetInTouch{
    min-width: 10ch;
    display: block;
    color: #CCD6F6;
    font-size: clamp(2.8125rem, 2.5255rem + 1.2755vw, 3.75rem);
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

.message{
    font-size: clamp(0.75rem, 0.6735rem + 0.3401vw, 1rem);
    padding-left: 15px;
    padding-right: 15px;
    max-width: 600px;
    color: #8892B0;
    text-align: center;
    margin-bottom: clamp(3.75rem, 2.9847rem + 3.4014vw, 6.25rem);
}

.SayHibtn{
    color: #110E1F;
    padding: 10px 35px 10px 35px;
    background-color: #41CCFF;
    background: linear-gradient(to bottom, #41CCFF 0%,#41CCFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 15px 20px #41ccff69;
    transition: all 0.3s;
}

.SayHibtn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px #0000004d;
    transition: all 0.5s ease-in-out;
}

.SayHibtn:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.SayHibtn svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.SayHibtn .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.SayHibtn:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
} 

.SayHibtn:hover svg {
    transform: rotate(45deg);
}

footer{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8892B0;
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
}
